%h3 Associations
%ul
  %li.elemental-associations
    %span.title.bold Elemental
    = card.elemental_associations
  %li.general-associations
    %span.title.bold General
    = card.general_associations
  - if card.golden_dawn_associations
    %li.golden-dawn-associations
      %span.title.bold Golden Dawn
      = card.golden_dawn_associations
