.description#current-card-info{data: {id: card.id }}
  %h1.display-name
    = card.element_image_path
    -# = card.astrological_sign if card.has_astrological_designation
    = card.display_name

  .associations
    = haml 'partials/associations_table'.to_sym, locals: {card: card}
