.top-lvl-button-holder
  .top-lvl-buttons
    .uniq-btn.btn.top-lvl{:data => {:name => 'new-reading'}}
      I want a new reading
    .uniq-btn.btn.top-lvl{:data => {:name => 'imported-reading'}}
      I want to use cards I've drawn

.global-options
  .deck-holder
    = render :haml, 'partials/choose_deck'.to_sym
  .spread-holder
    = render :haml, 'partials/choose_spread'.to_sym

.imported-reading-holder
  .local-options.imported-reading
    = render :haml, 'partials/choose_cards'.to_sym,
              :locals => {:cards => cards}
    .requirements

    .confirm.btn.hidden
      Confirm