%html
%head
  %title Tarottor: About
  %link(rel="stylesheet" href='/stylesheets/base.css' type='text/css')
  %link(rel="stylesheet" href='/stylesheets/about.css' type='text/css')
  %link(rel="stylesheet" href='/fonts/celtic_garamond.woff' type='text/css')
%body
  #header
    TAROTTOR
  #content
    = yield

%script{src: 'javascript/jquery2.1.1.min.js'}
%script{src: 'javascript/application.js'}
%script{src: 'javascript/about.js'}
