#about
  %p.clear
    Tarottor provides tools and visualisations to help you connect more deeply
    with each card you draw.
  %p
    Planned updates include:
    %ul
      %li More data for each card in the Major and Minor arcana
      %li Visual representations of popular layouts such as the Celtic Cross
      %li User accounts to save, track and share your reading history
      %li Inclusion and highlighting of personally significant cards (based on your star chart) 
      %li Inclusion and highlighting of temporally significant cards (based on the sky at the time of reading)
      %li Custom correspondences
      %li More Tarot decks available
#donate
  = haml 'partials/donate'.to_sym
#contact
  = haml 'partials/contact'.to_sym
