#about
  %h1.main-title.float-left Tarottor
  %h3.sub-title.float-left your tarot servitor
  #body
    %p.clear
      Tarottor provides tools and visualisations to help you connect more deeply
      with each card you draw.
    %p
      This allows you to use your energy to understand the relationships reflected
      in response to your query rather than figuring out what each card means and
      how they fit together.
    %p
      Planned updates include:
      %ul
        %li More data for each card in the Major and Minor arcana
        %li Visual representations of popular layouts such as the Celtic Cross
        %li User accounts to save, track and share your reading history
        %li Custom card associations
        %li More Tarot decks available
#donate
  = haml 'partials/donate'.to_sym
#contact
  = haml 'partials/contact'.to_sym
