#overlay.hidden
  #large-card.hidden
  #info-panel
    .moon-info.center
      = haml 'partials/moon_info'.to_sym, locals: {moon: moon}
    .card-info
      .center
        %img{:src => '/images/ajax-loader.gif'}
