$dark-border:       black
$active-btn:        lightblue
$alert:             desaturate(orange, 40%)
$overlay:           rgba(0,0,0,0.7)

// cards

$card-background:   white
$trump:             desaturate(purple, 50%)
$wands:             desaturate(red, 40%)
$pentacles:         desaturate(green, 40%)
$cups:              desaturate(blue, 40%)
$swords:            desaturate(yellow, 40%)
