// mixins and imports

@import 'base'
+base_rules

@mixin content-box
  padding: 1em
  padding-left: 2em
  margin-top: 5px
  margin-bottom: 5px
  background: $overlay
  color: $text-color
  border: 2px double #333

// main styling

html, body
  background-image: url('/images/background_wood.jpg')

#header
  font-family: 'celtic_garamond'
  color: $text-color
  margin-top: 1em
  margin-left: 1em
  font-size: 3em
#content
  margin: 1em
  width: 80%
  margin-left: 10%
  #about
    @include content-box
    ul
      list-style: initial
  #donate
    @include content-box
    .address
      font-size: x-small
      margin: 5px
    .btc
      h4
        margin: 0
      img
        width: 10em
  #contact
    @include content-box
