// mixins and imports

@import 'base'
+base_rules

$card-width: 149px

// main styling

html, body
  background-image: url('/images/background_wood.jpg')

#spread
  margin-top: 2em
  #info
    float: left
    width: 75%
  #unseen-cards
    float: right
    width: 15%
    margin-right: 7%
    max-width:  130px
    img
      cursor: pointer
      width:  133px

#content
  #cards-holder
    display: inline-block
    width: 90%
    margin-left: 5%
    margin-top: 2%
    .card
      float: left
      margin: 5px
      background: $card-background
      img
        width: $card-width
    .trumps
      border: 7px solid $trump
    .wands
      border: 7px solid $wands
    .pentacles
      border: 7px solid $pentacles
    .cups
      border: 7px solid $cups
    .swords
      border: 7px solid $swords

#overlay
  overflow: auto
  background: $overlay
  color: $text-color
  margin-left: 20px
  #info-panel
    .moon-info
      width: 20%
      float: left
      .moon-info-inner
        padding: 3%
      #the-moon
        overflow: hidden
        img
          padding: 10px
          width: 75%
          transform: rotateZ(70deg)
    .card-info
      width: 75%
      margin-left: 3%
      float: left
      z-index: 1
      .description
        .display-name
          img
            width: 30px
            margin-bottom: -2px
        .associations
          ul
            margin-left: -3%
            li
              padding-top: 5px
              padding-bottom: 2px
              margin-right: 10%
              border-bottom: 1px solid $border
              .title
                text-align: right
                padding-right: 10px
  #large-card
    position: fixed
    top: 0
    left: 0
    background: $large-card-background
    width: 100%
    z-index: 1
    img
      height: 100%
      margin-left: 50%
