// mixins and imports

@import 'base'
+base_rules

// main styling

html, body
  background-image: url('/images/background_wood.jpg')

#spread
  margin-top: 1em
  #info
    float: left
    width: 75%
  #unseen-cards
    float: right
    width: 15%
    margin-right: 7%
    max-width:  130px
    img
      cursor: pointer
      width:  133px

#content
  #cards-holder
    display: inline-block
    white-space: nowrap
    width: 90%
    max-width: 90%
    margin-left: 5%
    margin-top: 1em
    .card
      display: inline-block
      float: left
      margin: 5px
      background: $card-background
      img
        width: 149px
        height: auto
    .trumps
      border: 7px solid $trump
    .wands
      border: 7px solid $wands
    .pentacles
      border: 7px solid $pentacles
    .cups
      border: 7px solid $cups
    .swords
      border: 7px solid $swords

#overlay
  overflow: auto
  background: $overlay
  color: $text-color
  margin-left: 20px
  max-height: 20em
  #info-panel
    .influences
      width: 25%
      float: left
      .moon-info
        border-bottom: 1px solid $border
        border-right: 1px solid $border
        padding-bottom: 0.5em
        .moon-info-inner
          .active-elements
            img
              width: 1.5em
        #the-moon
          overflow: hidden
          img
            padding: 10px
            width: 5em
            transform: rotateZ(70deg)
      .planetary-influence
        padding-top: 0.5em
        padding-bottom: 0.5em
        text-align: center
        border-right: 1px solid $border
        .title
          font-weight: bold
        .greater
          margin-top: 0.2em
          .ruling-signs
            width: 50%
            float: left
          .ruling-planets
            width: 50%
            float: left
          img
            width: 2em
            margin-top: 0.25em
            margin-left: 0.3em
            margin-right: 0.3em
        table
          margin-left: auto
          margin-right: auto
          color: $text-color
          padding: 0.25em
          td 
            padding: 0 0.5em
            img
              width: 1em
    .card-info
      width: 70%
      margin-left: 3%
      float: left
      z-index: 1
      .description
        .display-name
          margin-top: 10px
          margin-bottom: 0
        .correspondence
          table
            color: $text-color
            .title
              text-align: center
              width: 20%
              img
                width: 30px
  #large-card
    position: fixed
    top: 0
    left: 0
    background: $large-card-background
    width: 100%
    z-index: 1
    img
      height: 100%
      margin-left: 60%
